<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<!-- BARRA DE NAVEGACION -->
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Gestion Dinero</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <div class="dropdown">
                    <button class="btn btn-secondary bg-dark border-0 dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Ingresos
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/ingresarDinero" >Ingresar dinero</a></li>
                        <li><a class=" dropdown-item" href="/verGastos">Ver</a></li>
                    </ul>
                </div>


                <div class="dropdown">
                    <button class="btn btn-secondary bg-dark border-0 dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Gastos
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/agregarGastos">Agregar</a></li>
                        <li><a class="dropdown-item" href="/verGastos">Ver</a></li>
                    </ul>
                </div>


            </div>


        </div>
    </nav>

</header>

<!-- CONTENIDO -->
<div>


</div>
<!-- FOOTER -->
<footer th:fragment="footer">
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</footer>

</body>
</html>